# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.WindowsFormsAppExperiment.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Rider\RiderProjects\WindowsFormsAppExperiment\.idea\.idea.WindowsFormsAppExperiment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
